#login-form {
	animation: example 0.3s linear;
	padding: 5rem;
	padding-top: 2rem;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px var(--gray);
	background-color: white;
}

@keyframes example {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}

#login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 56px);
}
