.user {
	display: flex;
	padding: 5px 20px;
	background-color: #00d1b2;
	cursor: pointer;
	position: relative;
}

.user.active,
.user:hover {
	background-color: #03ac92;
}

.user__images {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 20px;
	position: relative;
}

.user__active {
	width: 10px;
	height: 10px;
	background-color: #54a0ff;
	border-radius: 5px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 0;
}

.user__name {
	color: white;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	padding: 7px;
}

@media screen and (max-width: 760px) {
	.user__name {
		display: none;
	}

	.user__images,
	.user__images img {
		width: 30px !important;
		height: 30px !important;
	}
}
